body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
}
h1 {
  border-bottom: 1px solid;
}
h2 {
  margin-top: 2em;
}
a {
  color: #007aff;
}
section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: flex-start;
}
section > * {
  flex: 1 0 16em;
}
.formwerk--outer {
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 20, 0.01);
}
textarea,
input,
select {
  font: inherit;
  background: transparent;
  color: inherit;
}
.formwerk .form-check-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em 0.25em;
  margin-block-start: 0.25em;
}
.formwerk .form-check-group > * {
  flex: 0 0 10em;
}
.formwerk .form-control {
  border: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  .formwerk--outer {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
